<form>
  <div>
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      class="border-2 border-gray-200 mx-2 rounded-md"
    />
  </div>
  <div>
    <label for="amount">amount</label>
    <input
      type="number"
      id="amount"
      class="border-2 border-gray-200 mx-2 rounded-md"
    />
  </div>
  <div class="my-2">
    <button class="px-2 py-1 mx-2 rounded-md bg-green-600">Add</button>
    <button class="px-2 py-1 mx-2 rounded-md bg-red-600">Delete</button>
    <button class="px-2 py-1 mx-2 rounded-md bg-blue-600">clear</button>
  </div>
</form>
